---
layout: base
title: Luis Felipe Vilella
---

<section>
  <div class="header-home">
    <div class="container-sm">
      <h1 class="title">Pleased to meet you!</h1>
      <div class="contact">
        <a href="https://github.com/lfvilella" target="_blank" rel="noopener noreferrer"><i
            class="fab fa-github-square"></i></a>
        <a href="https://api.whatsapp.com/send?phone=5514996797600" target="_blank" rel="noopener noreferrer"><i
            class="fab fa-whatsapp-square"></i></a>
        <a href="https://www.linkedin.com/in/lfvilella" target="_blank" rel="noopener noreferrer"><i
            class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>

  {% include navbar.html %}

  <br><br><br>

  <div class="container-sm">
    <div class="row align-items-center">
      <div class="col-md-4">
        <img class="my-photo wow animate__animated animate__zoomIn" src="static/img/me-min.jpg">
      </div>
      <div class="col-md-8">
        <p><b>Hi! I'm a Web Developer passionate about new technologies, I have experience on Backend with Python using
            Django/Flask as framework and HTML/CSS/JavaScript on the Frontend.</b>
          <br> <br>
          <b>I'm also studying new technologies/frameworks such as:</b><br>
          - Odoo/Magento, learning to customize ready-made ERP and e-commerce solutions. <br>
          - Flutter, developing small applications to familiarize with mobile development. <br>
          - VueJS, studying popular JS frameworks to make the pages more fluid.</p>
      </div>
    </div>
  </div>

  <br><br><br>

  <div class="skills">
    <div class="container-sm">
      <div class="row">
        <div class="col-md-9 offset-md-3">
          <h1 class="title">Skills</h1>
          <br>
          <div class="row text-center align-items-center">
            <div class="col"><span class="icon"><i class="fab fa-python" style="color: #306998;"></i></span></div>
            <div class="col"><span class="icon"><i class="fab fa-vuejs" style="color: #41B883;"></i></span></div>
            <div class="col"><span class="icon"><i class="fab fa-js-square" style="color: #f0db4f;"></i></span></div>
          </div>
          <br>
          <div class="row text-center align-items-center">
            <div class="col"><span class="icon"><i class="fab fa-bootstrap" style="color: purple;"></i></span></div>
            <div class="col"><span class="icon"><i class="fab fa-html5" style="color: orangered;"></i></span></div>
            <div class="col"><span class="icon"><i class="fab fa-css3-alt" style="color: #2965f1;"></i></span></div>
          </div>
          <br><br>
          <div class="row text-center align-items-center">
            <div class="col"><span class="icon">FastAPI</span></div>
            <div class="col"><span class="icon">Django</span></div>
            <div class="col"><span class="icon">Flask</span></div>
          </div>
          <br>
          <div class="row text-center align-items-center">
            <div class="col"><span class="icon">Docker</span></div>
            <div class="col"><span class="icon">SQLAlchemy</span></div>
          </div>
          <br>
          <div class="row text-center align-items-center">
            <div class="col"><span class="icon">Docker-Compose</span></div>
            <div class="col"><span class="icon">Django-REST</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br><br><br>

  <div class="container-sm">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">Problem Steps</h1>
        <p>Each problem has its specific solution!</p>
      </div>
    </div>
    <br>
    <div class="row justify-content-end">
      <div class="col-md-11">
        <h6><b>Analyze:</b> understand the user's problem.</h6>
      </div>
      <div class="col-md-11">
        <h6><b>Define:</b> which tech to use.</h6>
      </div>
      <div class="col-md-11">
        <h6><b>Prototype:</b> create an example so that the user has contact with your product.</h6>
        <h6><b>Building:</b> using TDD technique to develop app with less bugs.</h6>
      </div>
      <div class="col-md-11">
        <h6><b>Raw Test:</b> direct test on the platform and delivery of the app for the user to test.</h6>
      </div>
      <div class="col-md-11">
        <h6><b>Features:</b> add new features and repairing.</h6>
      </div>
    </div>
  </div>

  <br><br><br>

  {% include footer.html %}
</section>
