  <footer class="footer" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="social-icon">
            <a href="https://github.com/lfvilella" target="_blank">
              <i class="fab fa-github wow animate__animated animate__fadeInLeft" data-wow-duration="0.34s"
                data-wow-delay=".1s"></i></a>
            <a href="https://api.whatsapp.com/send?phone=5514996797600" target="_blank">
              <i class="fab fa-whatsapp wow animate__animated animate__fadeInLeft" data-wow-duration="0.34s"
                data-wow-delay=".3s"></i></a>
            <a href="mailto:vilella.luisfelipe@gmail.com" target="_blank">
              <i class="fab fas fa-envelope wow animate__animated animate__fadeInLeft" data-wow-duration="0.34s"
                data-wow-delay=".5s"></i></a>
            <a href="https://www.linkedin.com/in/lfvilella" target="_blank">
              <i class="fab fa-linkedin wow animate__animated animate__fadeInLeft" data-wow-duration="0.34s"
                data-wow-delay=".7s"></i></a>
          </div>
          <br>
          <div class="copyright">
            <p class="footer-logo">
              2020&COPY; Luís Felipe Vilella
            </p>
            <div class="border-bottom"></div>

            <div class="popup" onclick="myFunction()"> <i class="far fa-image"></i>
              <span class="popuptext" id="myPopup">
                <a href='https://br.freepik.com/fotos-vetores-gratis/fundo'>Fundo vetor criado por pikisuperstar -
                  br.freepik.com</a> <br><br>
                <a href='https://br.freepik.com/fotos-vetores-gratis/fundo'>Fundo vetor criado por freepik -
                  br.freepik.com</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
