<nav>
  <div class="navigation-menu">
    <ul class="navigation">
      <li><a href="/">lfvilella</a></li>
      <li class="float-right"><a href="my_projects.html">projects</a></li>
      <li class="float-right"><a href="about_me.html">about me</a></li>

      <li class="nav-with-bars">
        <div class="dropleft">
          <button class="navigation-button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-bars"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button"><a class="links-to-page" href="about_me.html">about me</a></button>
            <button class="dropdown-item" type="button"><a class="links-to-page" href="my_projects.html">projects</a></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
