  <section class="about-me" id="aboutMe">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 wow animate__animated animate__zoomInDown">
          <div class="title-me">
            <h1>ABOUT ME</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 offset "></div>
        <div class="col-md-10">
          <div class="info-me wow animate__animated animate__fadeInRight">
            <p>
              Hi! I'm a Web Developer passionate about new technologies, I have experience on Backend with Python using
              Django/Flask as framework and HTML/CSS/JavaScript on the Frontend.
              <br> <br>
              I'm also studying new technologies/frameworks such as: <br>
              - Odoo/Magento, learning to customize ready-made ERP and e-commerce solutions. <br>
              - Flutter, developing small applications to familiarize with mobile development. <br>
              - VueJS, studying popular JS frameworks to make the pages more fluid.
            </p>
            <div class="code-icon">
              <i class="fas fa-laptop-code"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
