* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7e7e7;
}

.title {
    font-size: 50pt;
    color: #fc5185;
    text-transform: uppercase;
}

/* Navbar */

nav {
    padding: 10px;
    width: 100%;
    background: #f5f5f5;
    height: 7vh;
}

#navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #000000;
}

#navigation li {
    float: left;
}

#navigation li.float-right {
    float: right;
}

#navigation li a i.far {
    font-size: 29pt;
    color: #fc5185;
}

#navigation li a {
    padding-top: 3px;
    color: #4b4b4b;
    text-align: center;
    font-size: 18pt;
    text-decoration: none;
}

#navigation li a:hover {
    color: #fc5185;
    text-decoration: none;
}

/* Header Home */

.header-home {
    padding: 50px 25px;
    background-color: #364f6b;
    color: #fafafa;
}

/* Cards */

.card-project {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .2);
    display: flex;
    max-width: 100%;
    overflow: hidden;
}

.card-project .preview img {
    border-right: .3px solid #bbbbbbad;
}

.card-project .info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.card-project .info p {
    font-size: 15px;
    font-weight: bold;
}

.card-project .info .btn {
    background-color: #fc5185;
    border: 1px solid transparent;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .4 ease-in-out;
    font-weight: bold;
    border-radius: 20px;
}

.card-project .info .btn-git {
    font-size: 24px;
    padding: 5px 10px 3px 10px;
    right: 180px;
}

.card-project .info .btn:hover {
    background-color: #ffffff;
    color: #fc5185;
    border-color: #fc5185;
    transform: scale(1.05);
}

/* Footer */

.footer {
    padding: 60px 0;
    background-color: #364f6b;
}

.social-icon a {
    margin: 0 16px 20px 16px;
    display: inline-block;
}

.footer .fab {
    font-size: 30px;
    color: #364f6b;
    background-color: white;
    width: 80px;
    height: 80px;
    line-height: 2;
    border: 10px solid #364f6bbd;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    transition: all 0.7s ease-in-out;
}

.social-icon a:hover .fab {
    color: #fc5185;
    border-color: white;
    transform: rotate(360deg);
}

.copyright {
    color: white;
}

.copyright .border-bottom {
    background-color: white;
    width: 50px;
    height: 3px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 20px;
}

/* Media */

@media(max-width:991px) {
    .card-project {
        flex-direction: column;
    }
    .card-project .preview {
        width: 100%;
    }
    .card-project .preview img {
        width: 100%;
        border-right: none;
        border-bottom: .3px solid #bbbbbbad;
    }
    .card-project .info h2 {
        margin-bottom: 20px;
    }
    .card-project .info p {
        margin-bottom: 50px;
    }
    .card-project .info .btn {
        bottom: 20px;
    }
}
