/* ************************************* */

/**************** NavBar *****************/

/* ************************************* */

nav {
    padding: 20px 120px;
    z-index: 10000;
    width: 100%;
}

nav ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: transparent;
}

nav ul.navigation li {
    float: left;
}

nav ul.navigation li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 14pt;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul.navigation li a:hover {
    color: white;
    text-decoration: none;
}

/* ************************************* */

/* ************************************* */

/**************** Slider *****************/

/* ************************************* */

.slider {
    width: 100vw;
    height: 100vh;
    background-image: url('img/bg-slider-min.jpg');
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    color: #ffffff;
}

.slider-content {
    position: absolute;
    top: 30%;
    width: 100%;
    transform: translateY(-10%);
}

.cta-div {
    font-weight: 900;
    margin: 10px 0;
}

.btn1 {
    padding: 13px 18px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    border: 2px solid white;
    border-top-left-radius: 15px;
    transition: all 0.5s ease-in;
}

.btn1:hover {
    text-decoration: none;
    color: white;
    background-color: #e52c61;
    border-color: #e52c61;
}

.btn2 {
    padding: 13px 18px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    border: 2px solid white;
    border-bottom-right-radius: 15px;
    transition: all 0.4s ease-in;
    margin-left: -6px;
}

.btn2:hover {
    text-decoration: none;
    color: white;
    background-color: #5166fd;
    border-color: #5166fd;
}

.social-networks a.fab {
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-right: 12px;
    border: 1px solid white;
    border-radius: 50px;
    transition: all 0.5s ease-in;
}

.social-networks a.fab:first-child {
    padding: 9px 11px;
    margin-left: 0;
}

.social-networks a.fab:last-child {
    padding: 9px 11px;
    margin-right: 0;
}

.social-networks a.fab:hover {
    color: white;
    text-decoration: none;
    background-color: #00cdfd;
    border-color: #00cdfd;
}

.my-photo {
    width: 250px;
    height: 250px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 70px;
}

@media(max-width:370px) {
    .btn1, .btn2 {
        font-size: 10px;
    }
}

/* ************************************* */

/*************** ABOUT ME ****************/

/* ************************************* */

.about-me {
    height: 65vh;
    margin-bottom: 65px;
}

.title-me {
    padding-top: 50px;
    padding-bottom: 35px;
    color: #0000008f;
}

.title-me h1 {
    font-size: 70pt;
}

.info-me {
    background-color: #00000065;
    box-shadow: -10px 10px 10px #000000;
    color: white;
    padding: 50px 80px;
}

.info-me p {
    margin: 0;
}

.code-icon {
    z-index: 0;
    position: absolute;
    right: -100px;
    bottom: -80px;
}

.code-icon i {
    color: #00000065;
    font-size: 120pt;
}

@media(max-width:800px) {
    .code-icon {
        right: -60px;
        bottom: -50px;
    }
    .code-icon i {
        font-size: 100pt;
    }
}

@media(max-width:665px) {
    .code-icon {
        right: 15px;
        bottom: 5px;
    }
    .code-icon i {
        color: #ffffff36;
        font-size: 50pt;
    }
    .title-me h1 {
        font-size: 60pt;
    }
}

@media(max-width:483px) {
    .info-me {
        padding: 40px;
        padding-bottom: 50px;
    }
    .title-me h1 {
        font-size: 45pt;
    }
    .title-me {
        padding-bottom: 15px;
    }
}

@media(max-width:369px) {
    .about-me {
        margin-bottom: 150px;
    }
}

/* ************************************* */

/*************** MY SKILLS ****************/

/* ************************************* */

.my-skills {
    height: 100vh;
    color: #ffffff85;
}

ul.skills {
    list-style: none;
    color: #ffffffde;
    letter-spacing: 1px;
    padding: 0;
}

.row-info-progressive {
    display: flex;
    flex-direction: row;
}

.row-info-progressive h3 {
    font-size: 15pt;
}

.row-info-progressive .progress {
    width: 100%;
    height: 10px;
    margin-top: 8px;
    margin-left: 5px;
}

.row-info-progressive h4 {
    font-size: 8pt;
    margin-top: 8px;
    margin-left: 5px;
}

/* ************************************* */

/**************** MY PROJ ****************/

/* ************************************* */

.my-project {
    background-image: url('img/bg-proj-min.jpg');
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    margin-bottom: 0;
}

.my-project .container-fluid {
    width: 100vw;
    height: 100%;
    background-color: #00030c4b;
}

.my-project .title-me {
    color: #ffffffec;
    text-shadow: 0px 3px 3px rgb(207, 1, 36);
}

.list-projects {
    width: auto;
    margin: 0 auto;
    list-style: none;
    display: inline-flex;
    padding: 0;
}

.title-proj {
    cursor: pointer;
    margin-right: 10px;
    font-size: 18pt;
    background-color: #ffffff91;
    border: 2px solid white;
    border-radius: 25px;
    padding: 8px 13px;
    color: #000000;
    transition: 0.5s ease;
    box-shadow: 0px 2px 4px #ff0000;
}

.list-projects li.title-proj:last-child {
    margin-right: 0px;
}

.title-proj:hover {
    background-color: #ffffff;
    text-decoration: none !important;
    color: #000000 !important;
}

.carousel {
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
}

.look-up {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #000000;
    z-index: 1000;
}

.look-up a {
    color: #000000;
}

.look-up a:hover {
    text-decoration: none;
    color: #00000098;
}

.look-up i {
    font-size: 18pt;
    padding: 5px 6px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 50%;
    box-shadow: 0px 4px 2px #000000a8;
}

.carousel-inner img {
    border-radius: 10px;
}

.cards-about {
    background-color: #ffffff9f;
    margin-bottom: 30px;
    padding: 10px 20px 10px 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cards-about h2 {
    color: #ffffff;
    font-weight: 700;
    text-shadow: -1px 1px 10px #000000;
}

.cards-about p {
    margin-bottom: 2px;
    margin-left: 10px;
    text-align: justify;
}

@media(max-height:710px) {
    .my-project {
        margin-top: 150px;
    }
}

@media(max-width:882px) {
    .my-project {
        margin-top: 100px;
    }
}

@media(max-width:710px) {
    .title-proj {
        font-size: 13pt;
    }
}

@media(max-width:710px) {
    .title-proj {
        padding: 5px;
    }
}

@media(max-width:551px) {
    .my-project {
        margin-top: 200px;
    }
}

@media(max-width:473px) {
    .list-projects {
        margin-top: -20px;
        flex-direction: column;
    }
    .list-projects li {
        margin: 0;
        margin-bottom: 10px;
    }
}

@media(max-width:360px) {
    .my-project {
        margin-top: 280px;
    }
    h1.my-proj-title {
        font-size: 38pt;
    }
}

@media(max-width:320px) {
    .my-project {
        margin-top: 450px;
    }
}

/* ************************************* */

/**************** FOOTER *****************/

/* ************************************* */

.footer {
    padding-top: 145px;
    padding-bottom: 60px;
}

.social-icon a {
    margin: 0 16px 20px 16px;
    display: inline-block;
}

.footer .fab {
    font-size: 30px;
    color: #000000;
    background-color: white;
    width: 80px;
    height: 80px;
    line-height: 2;
    border: 10px solid #000000a9;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    transition: all 0.7s ease-in-out;
}

.social-icon a:hover .fab {
    color: #821423;
    border-color: white;
    transform: rotate(360deg);
}

.copyright {
    color: white;
}

.copyright .border-bottom {
    background-color: white;
    width: 50px;
    height: 3px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 20px;
}

/* TOOGLE IMG-LINK */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup i {
    color: white;
    font-size: 15pt;
    margin-top: 15px;
}

.popup span a {
    color: white;
    text-decoration: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
